EWSSimulator/src/main/resources/xsd/encryption_v4_transactions.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:com:vantiv:types:encryption:transactions:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cg="urn:com:vantiv:types:encryption:cryptogram" xmlns:cm="urn:com:vantiv:types:encryption:common" xmlns:ec="urn:com:vantiv:types:encryption:echeck" xmlns:pi="urn:com:vantiv:types:encryption:cards:v1" xmlns:pt="urn:com:vantiv:types:encryption:transactions:v1">
<xsd:annotation>
    <xsd:documentation xml:lang="en-US">Data Types representing
        Encryption Services Transactions
        Copyright 2017 Vantiv
        Version: 4.3.0</xsd:documentation>
</xsd:annotation>
<xsd:import namespace="urn:com:vantiv:types:encryption:common" schemaLocation="encryption_v4_common.xsd"/>
<xsd:import namespace="urn:com:vantiv:types:encryption:cards:v1" schemaLocation="encryption_v4_card.xsd"/>
<xsd:import namespace="urn:com:vantiv:types:encryption:cryptogram" schemaLocation="encryption_v4_cryptogram.xsd"/>
<xsd:import namespace="urn:com:vantiv:types:encryption:echeck" schemaLocation="encryption_v4_eCheck.xsd"/>
<xsd:element name="EchoRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Used to test
                Connections</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Test" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
<xsd:element name="EchoResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Used to test
                Connections</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="Response" type="xsd:string"/>
            <xsd:element name="ProjectVersion" type="xsd:string"/>
            <xsd:element name="BuildNumber" type="xsd:string"/>
            <xsd:element name="RevisionNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="HostEnvironment" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
</xsd:element>
<xsd:element name="TokenizeRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Tokenization
                Transaction Request</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="PrimaryAccountNumber" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CardSecurityCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ExpirationDate" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="TokenizeResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Tokenization
                Transaction Response</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Token" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="TokenNewlyGenerated" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="BatchTokenizeRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">BatchTokenization
                Transaction Request</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:element maxOccurs="500" minOccurs="0" name="Card" type="pi:Card"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="BatchTokenizeResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">BatchTokenization
                Transaction Response</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element maxOccurs="500" minOccurs="0" name="Token" type="pi:Token"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="TokenInquiryRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Token Inquiry
                Request.
                This differs from BatchTokenenize in that a PAN will not be
                tokenized if it hasn't already been tokenized.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:element maxOccurs="200" minOccurs="0" name="Card" type="pi:Card"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="TokenInquiryResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Token Inquiry
                Response.
                This differs from BatchTokenenize in that a PAN will not
                be tokenized if it hasn't already been tokenized.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element maxOccurs="200" minOccurs="0" name="Token" nillable="true" type="pi:Token"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="DetokenizeRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Detokenization
                Transaction Request</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Token" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CVV2Requested" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="ExpirationDateRequested" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="DetokenizeResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Detokenization
                Transaction Response</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="PrimaryAccountNumber" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CardSecurityCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ExpirationDate" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="BatchDetokenizeRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">BatchDetokenization
                Transaction Request</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:element maxOccurs="500" minOccurs="0" name="Token" type="pi:Token"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="BatchDetokenizeResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">BatchTokenization
                Transaction Response</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element maxOccurs="500" minOccurs="0" name="Card" type="pi:Card"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="RegistrationRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Registration
                Transaction Request. Registers either a regular PAN or a DPAN
                (enter either one in the PrimaryAccountNumber field). For DPAN,you
                must supply the Cryptogram.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="PrimaryAccountNumber" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CardSecurityCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ExpirationDate" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="WalletType" type="pt:WalletType"/>
                    <xsd:element minOccurs="0" name="ElectronicCommerceIndicator" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Cryptogram" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="RegistrationResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Registration
                Transaction Response</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Token" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="RegId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="TokenNewlyGenerated" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="TokenRegistrationRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Token Registration
                Transaction Request. Registers an existing token.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Token" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="TokenRegistrationResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Token Registration
                Transaction Response. Return a newly generated regId for the
                supplied token.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="RegId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="DeregistrationRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Deregistration
                Transaction Request. Deregisters the OmniToken and Pan/DPAN
                information for the regId submitted. For PANs, if
                CardSecurityCodeRequested is true and it exists for the PAN, then
                it is purged from the Vantiv Token Vault after it is returned.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="RegId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CardSecurityCodeRequested" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="DeregistrationResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Deregistration
                Transaction Response. If the response contains a Cryptogram, then
                the token is based on a DPAN. Otherwise, it is based on a regular
                PAN.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Token" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="PrimaryAccountNumber" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CardSecurityCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ExpirationDate" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="WalletType" type="pt:WalletType"/>
                    <xsd:element minOccurs="0" name="ElectronicCommerceIndicator" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Cryptogram" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="OrderRegistrationRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">OrderRegistration
                Transaction Request. Registers an order transaction (currently just
                cvv) into a LVT. The Order LVT returned expires in 24 hours.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CardSecurityCode" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="OrderRegistrationResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">OrderRegistration
                Transaction Response</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="OrderLVT" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="OrderDeregistrationRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">OrderDeregistration
                Transaction Request. Detokenizes an OmniToken
                into a Pan and
                optionally deregisters an Order LVT into a
                CVV, (an error
                will be
                returned if the deregistration fails).
                Note that the CVV is
                not
                purged from the database
                after it is returned.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="OrderLVT" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Token" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="OrderDeregistrationResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">OrderDeregistration
                Transaction Response.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CardSecurityCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="PrimaryAccountNumber" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="DecryptRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Decryption Transaction
                Request</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element minOccurs="0" name="VerifoneCryptogram" type="cg:VerifoneCryptogram"/>
                        <xsd:element minOccurs="0" name="VoltageCryptogram" type="cg:VoltageCryptogram"/>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="DecryptResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Decryption Transaction
                Response</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="DecryptedCard" type="pi:Card"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="ECheckTokenizeRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Tokenization
                Transaction Request for ECheck</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Account" type="ec:Account"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="ECheckTokenizeResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Tokenization
                Transaction Response for ECheck</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Token" type="ec:eCheckToken"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="ECheckDetokenizeRequest">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Detokenization
                Transaction Request for ECheck</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Token" type="ec:eCheckToken"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="ECheckDetokenizeResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Detokenization
                Transaction Response for ECheck</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Account" type="ec:Account"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:complexType abstract="true" name="EncryptionRequest">
    <xsd:annotation>
        <xsd:documentation xml:lang="en-US">Base Type for
            Encryption Requests</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
        <xsd:element minOccurs="0" name="Merchant" type="pt:MerchantType"/>
        <xsd:element minOccurs="0" name="BillingFields" type="pt:BillingFields"/>
    </xsd:sequence>
    <xsd:attribute name="merchant-ref-id" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType abstract="true" name="EncryptionResponse">
    <xsd:annotation>
        <xsd:documentation xml:lang="en-US">Base Type for
            Encryption Responses</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
        <xsd:element minOccurs="0" name="RequestId" type="xsd:string"/>
        <xsd:element maxOccurs="5000" minOccurs="0" name="Error" type="cm:VError"/>
    </xsd:sequence>
    <xsd:attribute name="merchant-ref-id" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="EncryptionFault">
    <xsd:complexContent>
        <xsd:extension base="pt:EncryptionResponse">
            <xsd:sequence>
                <xsd:element minOccurs="0" name="message" type="xsd:string"/>
                <xsd:element minOccurs="0" name="code" type="xsd:string"/>
                <xsd:element minOccurs="0" name="id" type="xsd:int"/>
            </xsd:sequence>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:element name="RequestValidationFault">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Request Validation
                Fault</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionFault"/>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:element name="ServerFault">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Server Fault</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pt:EncryptionFault"/>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:element>
<xsd:complexType name="MerchantType">
    <xsd:sequence>
        <xsd:element minOccurs="0" name="RollupId" type="xsd:string"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BillingFields">
    <xsd:sequence>
        <xsd:element minOccurs="0" name="MerchantId" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Source" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Intent" type="xsd:string"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType final="restriction" name="WalletType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ANDROID"/>
        <xsd:enumeration value="APPLE"/>
        <xsd:enumeration value="SAMSUNG"/>
    </xsd:restriction>
</xsd:simpleType>
</xsd:schema>


   